@font-face {
  font-family: gitHubFont;
  src: url(../src/resources/font/collegiate/COLLEGIA.ttf);
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background: url(./resources/backgrounds/BlackwWood.jpeg) center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: gitHubFont;
}
